
/* ---------------------------ADD ARTICLE------------------------------------- */

.img-input {
    margin-top: 30px;
}
  
.submit-btn button {
    background-color: rgb(76, 64, 179);
    margin-top : 100px;
    margin-left: 450px;
    color: #fafafa;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    border-color :rgba(255, 255, 255, 0.5);
    border-width : 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submit-btn button:hover {
    background-color: rgb(109, 98, 211);
    margin-top : 100px;
    margin-left: 450px;
    color: #fafafa;
    height: 50px;
    width: 200px;
    border-radius: 12px;
    border-color :rgba(255, 255, 255, 0.5);
    border-width : 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


  
.title-input {
    margin: 80px 16px 16px 0;
}
  
.row {
    margin: 50px 16px 16px 0;
}
  
.col {
    width: 300px;
}
  
.form-check {
    width: 100px;
}

  
/* ---------------------------MANAGE ARTICLE------------------------------------- */
  
.container .post-panel {
    margin-left : 50px;
}
  
.post-panel table thead tr th{
    text-transform: uppercase;
}

.post-panel table {
    text-transform: uppercase;
}
  
.post-panel h5 {
    font-family: 'Red Rose', cursive;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
}
  
.post-panel button {
    background-color: rgb(76, 64, 179);
    color: #fafafa;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    border-color :rgba(255, 255, 255, 0.5);
    border-width : 1px;
}
  
button:hover {
    background-color: rgb(109, 98, 211);
    color: #ffffff;
    height: 40px;
    width: 100px;
}
  
button.supp {
    background-color: rgb(255, 67, 67);
}

button.supp:hover {
    background-color: rgb(255, 40, 40);
}
  
.container .post-panel table {
    width: 100%;
    text-align: left;
}
  
.container .post-panel th {
    background: #e2e2e2;
    padding: 0.8rem;
    color: #000000;
}
  
.container .post-panel td {
    padding: 0.8rem;
    border-bottom: 1px solid #c9c9c9;
}
  
.container .post-panel table tr:hover td {
    background-color: #eeeeee;
}

.row {
    padding-top: 30px;
}